parameters:
    level: 6
    paths:
        - src
        - config
    excludePaths:
        analyseAndScan:
            - src/Features/*/*UnitTest.php
    checkOctaneCompatibility: true
    checkModelProperties: true
