parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Contracts/BaseScout.php

		-
			message: "#^Call to static method resources\\(\\) on an unknown class Laravel\\\\Nova\\\\Nova\\.$#"
			count: 1
			path: src/ModulesServiceProvider.php

		-
			message: "#^Creating callable from a non\\-native static method Livewire\\\\Livewire\\:\\:component\\(\\)\\.$#"
			count: 1
			path: src/ModulesServiceProvider.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/ModulesServiceProvider.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/ModulesServiceProvider.php

		-
			message: "#^Class Laravel\\\\Nova\\\\Actions\\\\ActionResource not found\\.$#"
			count: 1
			path: src/Scouts/NovaResourcesScout.php

		-
			message: "#^Class Laravel\\\\Nova\\\\Resource not found\\.$#"
			count: 1
			path: src/Scouts/NovaResourcesScout.php
